@use "../abstracts";

.logo {
    display: flex;
    align-items: center;

    &__img {
        @include abstracts.screen(md) {
            width: 24px;
        }
    }

    &__text {
        margin-left: 14px;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 145.455%;

        @include abstracts.screen(md) {
            margin-left: 10px;
            font-size: 1.8rem;
        }
    }
}
