.menu-mega {
    position: absolute;
    left: 0;
    padding-top: 54px;
    width: min(1240px, 100%);
    opacity: 0;
    visibility: hidden;
    transition: opacity, visibility;
    transition-duration: 0.3s;

    &-wrap {
        position: relative;
        padding: 30px;
        border-radius: 20px;
        background: #fff;
        box-shadow: 0 40px 90px 20px rgba(200, 200, 200, 0.4);

        &::before {
            content: url(../icons/arrow-up.svg);
            position: absolute;
            top: -14px;
            left: var(--arrow-left-pos);
            transform: translateX(-50%);
        }
    }

    &__inner {
        position: relative;
    }

    &__main {
        width: 292px;
        height: min(529px, calc(100vh - 110px - 24px - 60px - 24px));
        border-right: 1px solid #d2d1d6;
        overflow-y: auto;
    }

    &__column {
        display: flex;
        column-gap: 14px;

        &-icon {
            position: relative;
            flex-shrink: 0;
            width: 36px;
            height: 36px;
        }

        &-icon-bg {
            display: block;
            width: 30px;
            height: 30px;
            object-fit: contain;
        }

        &-icon-symbol {
            position: absolute;
            right: 0;
            bottom: 0;
            display: block;
            width: 24px;
            height: 24px;
            object-fit: contain;
        }

        &-content {
            flex: 1;
        }

        &-heading {
            margin-top: 6px;
            font-weight: 500;
            line-height: 150%;
        }

        &-list {
            margin-top: 19px;
        }

        &-item:hover > &-link,
        &-item--active > &-link {
            font-weight: 500;
            color: #0071dc;
        }

        &-item--active > .menu-mega-sub {
            opacity: 1;
            visibility: visible;
        }

        &-link {
            display: block;
            padding: 7px 0;
            font-size: 1.4rem;
            line-height: 142.857%;
        }
    }
}

.menu-mega-sub {
    position: absolute;
    inset: 0 0 0 292px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: min(529px, calc(100vh - 110px - 24px - 60px - 24px));
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    transition: opacity, visibility;
    transition-duration: 0.3s;

    &--full {
        position: initial;
        grid-template-columns: repeat(4, 1fr);
    }

    &__column {
        padding-left: 30px;
    }

    .menu-mega__column + .menu-mega__column {
        margin-top: 23px;
    }
}
