@use "../abstracts";

.menu-mega {
    position: absolute;
    left: 0;
    display: none;
    padding-top: 54px;
    width: min(1240px, 100%);

    @include abstracts.screen(lg) {
        position: initial;
        padding-top: 0;
    }

    &-wrap {
        position: relative;
        padding: 30px;
        border-radius: 20px;
        background: #fff;
        box-shadow: 0 40px 90px 20px rgba(200, 200, 200, 0.4);

        &::before {
            content: url(../icons/arrow-up.svg);
            position: absolute;
            top: -14px;
            left: var(--arrow-left-pos);
            transform: translateX(-50%);
        }

        @include abstracts.screen(lg) {
            padding: 0 40px;
            border-radius: 0;
            background: transparent;
            box-shadow: none;

            &::before {
                content: none;
            }
        }

        @include abstracts.screen(md) {
            padding: 0 20px;
        }
    }

    &__inner {
        position: relative;
    }

    &__main {
        width: 292px;
        height: min(529px, calc(100vh - 110px - 24px - 60px - 24px));
        border-right: 1px solid #d2d1d6;
        overflow-y: auto;

        @include abstracts.screen(lg) {
            width: 100%;
            height: auto;
            border: none;
        }
    }

    &__column {
        display: flex;
        column-gap: 14px;

        &-icon {
            position: relative;
            flex-shrink: 0;
            width: 36px;
            height: 36px;

            @include abstracts.screen(xl) {
                display: none;
            }

            @include abstracts.screen(lg) {
                display: block;
            }
        }

        &-icon-bg {
            display: block;
            width: 30px;
            height: 30px;
            object-fit: contain;
        }

        &-icon-symbol {
            position: absolute;
            right: 0;
            bottom: 0;
            display: block;
            width: 24px;
            height: 24px;
            object-fit: contain;
        }

        &-content {
            flex: 1;
        }

        &-heading {
            margin-top: 6px;
            font-weight: 500;
            line-height: 150%;

            @include abstracts.screen(lg) {
                margin-bottom: 19px;
            }
        }

        &-list {
            margin-top: 19px;

            @include abstracts.screen(lg) {
                margin-top: 0;
            }
        }

        &-item:hover > &-link,
        &-item--active > &-link {
            font-weight: 500;
            color: #0071dc;
        }

        &-item--active > .menu-mega-sub {
            display: grid;
        }

        &-link {
            display: block;
            padding: 7px 0;
            font-size: 1.4rem;
            line-height: 142.857%;
        }
    }
}

.menu-mega-sub {
    position: absolute;
    inset: 0 0 0 292px;
    display: none;
    grid-template-columns: repeat(3, 1fr);
    height: min(529px, calc(100vh - 110px - 24px - 60px - 24px));
    overflow-y: auto;

    @include abstracts.screen(lg) {
        position: initial;
        inset: initial;
        display: none;
        grid-template-columns: 1fr;
        padding: 7px 0;
        height: auto;
    }

    &--full {
        position: initial;
        grid-template-columns: repeat(4, 1fr);

        @include abstracts.screen(lg) {
            grid-template-columns: 1fr;
        }
    }

    &__column {
        padding-left: 30px;

        @include abstracts.screen(lg) {
            padding-left: 0;

            & + .menu-mega-sub__column {
                margin-top: 23px;
            }
        }
    }

    .menu-mega__column + .menu-mega__column {
        margin-top: 23px;
    }
}
