@use "sass:map";

$grid-breakpoints: (
    xxl: 1400px,
    xl: 1200px,
    lg: 992px,
    md: 768px,
    sm: 576px,
);
$grid-max-widths: (
    xxl: 1140px,
    xl: 960px,
    lg: 720px,
    md: 540px,
    sm: 100%,
);
$gutters: (
    0: 0,
    1: 0.25,
    2: 0.5,
    3: 1,
    4: 1.5,
    5: 3,
);
$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;
%gutter-padding {
    padding-left: calc(var(--grid-gutter-x) * 0.5);
    padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid {
    --grid-gutter-x: #{$grid-gutter-width};
    --grid-gutter-y: 0;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    @extend %gutter-padding;
}

.container {
    max-width: 1320px;
    @extend .container-fluid;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--grid-gutter-y) * -1);
    margin-left: calc(var(--grid-gutter-x) * -0.5);
    margin-right: calc(var(--grid-gutter-x) * -0.5);

    > * {
        flex: 1 0;
        margin-top: calc(var(--grid-gutter-y));
        @extend %gutter-padding;
    }
}

@mixin make-columns($infix: null) {
    @for $i from 1 through $grid-columns {
        .col#{$infix}-#{$i} {
            flex: 0 0 auto;
            width: calc($i / 12 * 100%);
        }
    }
}

@mixin make-row-cols($infix: null) {
    @for $i from 1 through $grid-columns * 0.5 {
        .row-cols#{$infix}-#{$i} > * {
            flex: 0 0 auto;
            width: calc(100% / $i);
        }
    }
}

@mixin make-offset($infix: null) {
    @for $i from 0 to $grid-columns {
        .offset#{$infix}-#{$i} {
            margin-left: calc($i / 12 * 100%);
        }
    }
}

@mixin make-gutters($infix: null) {
    @each $i, $ratio in $gutters {
        .g#{$infix}-#{$i},
        .gx#{$infix}-#{$i} {
            --grid-gutter-x: #{$grid-gutter-width * $ratio};
        }

        .g#{$infix}-#{$i},
        .gy#{$infix}-#{$i} {
            --grid-gutter-y: #{$grid-gutter-width * $ratio};
        }
    }
}

@include make-row-cols();
@include make-columns();
@include make-offset();
@include make-gutters();

@each $breakpoint, $dimension in $grid-breakpoints {
    $max-width: map.get($grid-max-widths, $breakpoint);
    $infix: #{-$breakpoint};
    @media (max-width: ($dimension - 0.02)) {
        .container {
            max-width: $max-width;
        }

        @include make-columns($infix);
        @include make-row-cols($infix);
        @include make-offset($infix);
        @include make-gutters($infix);
    }
}
