@use "../abstracts";

html.dark {
    --text-color: #fff;
    --body-bg: #292e39;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
        contrast(103%);
    --header-bg: #171c28;
    --header-shadow: rgba(0, 0, 0, 0.2);
    --top-act-group-bg: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-separate-bg: #ededf6;
    --navbar-text: #b9babe;
    --menu-mega-wrap-bg: #2f3441;
    --menu-mega-wrap-shadow: #171c2866;
    --menu-mega-arrow-up: brightness(0) saturate(100%) invert(17%) sepia(27%) saturate(487%) hue-rotate(185deg)
        brightness(89%) contrast(88%);

    @include abstracts.screen(lg) {
        --navbar-bg: #292e39;
        --navbar-shadow: rgba(23, 28, 40, 0.4);
        --nav-btn-icon: brightness(0) saturate(100%) invert(83%) sepia(5%) saturate(154%) hue-rotate(191deg)
            brightness(90%) contrast(89%);
    }
}
