@use "../abstracts";

html {
    --text-color: #1a162e;
    --body-bg: #f6f6f6;
    --icon-color: brightness(0) saturate(100%) invert(5%) sepia(87%) saturate(1330%) hue-rotate(231deg) brightness(91%)
        contrast(92%);
    --header-bg: #eee;
    --header-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-bg: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-separate-bg: #ededf6;
    --menu-mega-wrap-bg: #fff;
    --menu-mega-wrap-shadow: rgba(200, 200, 200, 0.4);

    @include abstracts.screen(md) {
        --header-bg: #fff;
    }

    @include abstracts.screen(lg) {
        --navbar-bg: #fff;
        --navbar-shadow: rgba(200, 200, 200, 0.4);
        --navbar-overlay: rgba(0, 0, 0, 0.5);
    }
}
