@use "../abstracts";

html {
    --text-color: #1a162e;
    --body-bg: #f6f6f6;
    --icon-color: brightness(0) saturate(100%) invert(5%) sepia(87%) saturate(1330%) hue-rotate(231deg) brightness(91%)
        contrast(92%);
    --header-bg: #eee;
    --header-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-bg: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-separate-bg: #ededf6;

    @include abstracts.screen(md) {
        --header-bg: #fff;
    }
}
