*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: "Gordita", sans-serif;

    color: var(--text-color);
    background: var(--body-bg);
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    padding: 0;
    border: none;
    outline: none;
    user-select: none;
    background: transparent;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
}

.icon {
    filter: var(--icon-color);
}
