@use "sass:map";
@use "sass:math";

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);
$grid-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1340px,
);
$grid-columns: 12 !default;
$grid-gutter: 30px !default;
$gutters: (
    0: 0,
    1: 0.25,
    2: 0.5,
    3: 1,
    4: 1.5,
    5: 3,
);

%grid-padding {
    padding-left: calc(var(--grid-gutter-x) * 0.5);
    padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    @extend %grid-padding;
}

.container {
    --grid-gutter-x: #{$grid-gutter};
    --grid-gutter-y: 0;
    @extend .container-fluid;
    max-width: 1340px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--grid-gutter-y) * -1);
    margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
    margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);

    > * {
        @extend %grid-padding;
        margin-top: var(--grid-gutter-y);
    }

    .col {
        flex: 1 0;
    }
}

@mixin make-media-query($dimension, $xs) {
    @if ($xs) {
        @content;
    } @else {
        @media (min-width: $dimension) {
            @content;
        }
    }
}

@mixin make-columns($infix) {
    @for $i from 1 through $grid-columns {
        .col#{$infix}-#{$i} {
            width: math.div(100%, 12) * $i;
            flex: 0 0 auto;
        }
    }
}

@mixin make-row-columns($infix) {
    @for $i from 1 through $grid-columns * 0.5 {
        .row-cols#{$infix}-#{$i} > * {
            width: math.div(100%, $i);
            flex: 0 0 auto;
        }
    }
}

@mixin make-offset($infix) {
    @for $i from 0 to $grid-columns {
        .offset#{$infix}-#{$i} {
            margin-left: if($i > 0, math.div(100%, 12) * $i, 0);
        }
    }
}

@mixin make-gutters($infix) {
    @each $value, $ratio in $gutters {
        .g#{$infix}-#{$value},
        .gx#{$infix}-#{$value} {
            --grid-gutter-x: #{$grid-gutter * $ratio};
        }

        .g#{$infix}-#{$value},
        .gy#{$infix}-#{$value} {
            --grid-gutter-y: #{$grid-gutter * $ratio};
        }
    }
}

@each $breakpoint, $dimension in $grid-breakpoints {
    $max-width: map.get($grid-max-widths, $breakpoint);
    $xs: $breakpoint == xs;
    $infix: if($xs, "", #{-$breakpoint});

    @include make-media-query($dimension, $xs) {
        .container {
            max-width: $max-width;
        }

        @include make-row-columns($infix);
        @include make-columns($infix);
        @include make-offset($infix);
        @include make-gutters($infix);
    }
}
