@use "../abstracts";

%flexCenter {
    display: flex;
    align-items: center;
}

.header {
    padding: 30px 0;
    background: var(--header-bg);
}

.top-bar {
    @extend %flexCenter;
}

.navbar {
    margin-left: 129px;

    @include abstracts.screen(xl) {
        margin-left: 48px;
    }

    @include abstracts.screen(lg) {
        display: none;
    }

    &__list {
        @extend %flexCenter;
    }

    &__link {
        @extend %flexCenter;
        padding: 0 15px;
        height: 50px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__arrow {
        margin-left: 6px;
    }
}

.top-act {
    @extend %flexCenter;
    column-gap: 20px;
    margin-left: auto;

    &__group {
        @extend %flexCenter;
        min-width: 50px;
        height: 50px;
        border-radius: 8px;
        background: var(--top-act-group-bg);
        box-shadow: 0 20px 60px 10px var(--top-act-group-shadow);
    }

    &__separate {
        width: 1px;
        height: 30px;
        background: var(--top-act-separate-bg);
    }

    &__btn {
        @extend %flexCenter;
        justify-content: center;
        padding: 20px;
        width: 100%;
        height: 100%;
    }

    &__group--single &__btn {
        padding: 0;
    }

    &__text {
        margin-left: 10px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__avatar {
        display: block;
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 8px;
    }
}
