@use "../abstracts";

%flexCenter {
    display: flex;
    align-items: center;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    padding: 30px 0;
    width: 100%;
    background: var(--header-bg);

    @include abstracts.screen(md) {
        padding: 24px 0;
        box-shadow: 0 20px 60px 10px var(--header-shadow);
    }

    @include abstracts.screen(sm) {
        padding: 16px 21px;
    }
}

.top-bar {
    position: relative;
    @extend %flexCenter;

    @include abstracts.screen(md) {
        justify-content: space-between;
    }
}

.menu-mobile {
    display: none;

    @include abstracts.screen(lg) {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        width: 24px;
        height: 24px;
    }

    @include abstracts.screen(md) {
        margin-right: 0;
    }
}

.navbar {
    margin-left: 129px;

    @include abstracts.screen(xl) {
        margin-left: 20px;
    }

    @include abstracts.screen(lg) {
        position: fixed;
        inset: 0 50% 0 0;
        z-index: 9;

        margin-left: 0;
        padding: 40px 0;
        background: #fff;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in-out;

        &.show {
            transform: translateX(0);
        }

        &.show ~ &__overlay {
            opacity: 1;
            visibility: visible;
        }
    }

    @include abstracts.screen(md) {
        inset: 0;
        padding: 20px 0;
    }

    &__close-btn {
        display: none;

        @include abstracts.screen(lg) {
            display: block;
            padding: 10px 40px;
        }

        @include abstracts.screen(md) {
            padding: 10px 20px;
        }
    }

    &__overlay {
        opacity: 0;
        visibility: hidden;

        @include abstracts.screen(lg) {
            position: fixed;
            inset: 0;
            z-index: 8;
            background: rgba(0, 0, 0, 0.5);
            transition: opacity, visibility;
            transition-duration: 0.5s;
        }
    }

    &__list {
        @extend %flexCenter;

        @include abstracts.screen(lg) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__item {
        &:hover .menu-mega {
            opacity: 1;
            visibility: visible;
        }

        @include abstracts.screen(lg) {
            width: 100%;

            &:hover .menu-mega {
                display: none;
            }
        }
    }

    &__item:hover .menu-mega,
    &__item:hover .menu-mega-sub--full {
        opacity: 1;
        visibility: visible;
    }

    &__link {
        @extend %flexCenter;
        padding: 0 15px;
        height: 50px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;

        @include abstracts.screen(lg) {
            padding: 0 40px;

            font-size: 1.6rem;
            line-height: 150%;
        }

        @include abstracts.screen(md) {
            padding: 0 20px;
            line-height: 44px;
        }
    }

    &__arrow {
        margin-left: 6px;

        @include abstracts.screen(lg) {
            margin-left: auto;
        }
    }
}

.top-act {
    @extend %flexCenter;
    column-gap: 20px;
    margin-left: auto;

    @include abstracts.screen(md) {
        margin-left: 0;
    }

    &__group {
        @extend %flexCenter;
        min-width: 50px;
        height: 50px;
        border-radius: 8px;
        background: var(--top-act-group-bg);
        box-shadow: 0 20px 60px 10px var(--top-act-group-shadow);

        @include abstracts.screen(md) {
            // display: none;
        }
    }

    &__separate {
        width: 1px;
        height: 30px;
        background: var(--top-act-separate-bg);
    }

    &__btn {
        @extend %flexCenter;
        justify-content: center;
        padding: 20px;
        width: 100%;
        height: 100%;
    }

    &__group--single &__btn {
        padding: 0;
    }

    &__text {
        margin-left: 10px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__avatar {
        display: block;
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 8px;
    }
}
